<div class="container">
  <% message.each do |message_text| %>
    <div class="card bg-light mb-3" style="max-width: 70rem;">
      <div class="card-body light">
        <p class="card-text"><%= message_text %></p>
      </div>
    </div>
  <% end %>
</div>